body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

header {
    background: #002b5c;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
}
.h2{
    color: white;
}
nav ul {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
nav ul li {
    margin: 0 10px
}
nav ul li a, .account a {
    color: white;
    text-decoration: none;
}

.search {
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0055a5;
}

#homes-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.home {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

.home img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    color: #003366;
}

.discover-btn {
    display: block;
    margin-top: 10px;
    width: 100%;
}
footer {
    background-color: #002a5e;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.footer-links ul li {
    margin-bottom: 5px;
}
.footer-links ul li a {
    color: white;
    text-decoration: none;
}
